services:
  # Base de données (Même image que prod)
  timescaledb:
    image: timescale/timescaledb:latest-pg14
    ports:
      - "5432:5432" # On expose le port pour que le backend local puisse s'y connecter
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - dev_db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  # Broker MQTT (Même image que prod)
  mosquitto:
    image: eclipse-mosquitto:2
    ports:
      - "1883:1883"      # Port MQTT standard
      - "9001:9001"      # Websockets
    volumes:
      # On monte le fichier de conf DEV spécifique (avec bridge)
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log

volumes:
  dev_db_data:


